.StatsMain {
  align-items: center;
  border-radius: 10px;
  margin-right: 20px;
  background-color: #fff;
  margin-bottom: 10px;
}

.StatsMain:hover {
  background-color: #fbfbfb;
  transition: 0.1s;
}

.StatsPara{
  font-weight: normal;
  font-size: 16px;
  margin: 0;
  color: gray;
}

.StatsHeading{
  font-weight: 500;
  font-size: 22px;
  margin: 0px 0px 0 0px;
  color: black;
}

@media screen and (max-width: 1600px) {
  .StatsHeading{
    font-size:22px ;
  }
  .StatsPara{
    font-size:16px ;
  }
}

@media screen and (max-width: 1200px) {
 .StatsHeading{
   font-size:18px ;
 }
 .StatsPara{
   font-size:12px ;
 }
}
@media screen and (max-width: 1000px) {
 .StatsHeading{
   font-size:16px ;
 }
 .StatsPara{
   font-size:10px ;
 }
}
@media screen and (max-width: 700px) {
 .StatsHeading{
   font-size:14px ;
 }
 .StatsPara{
   font-size:10px ;
 }
}
@media screen and (max-width: 500px) {
  .StatsHeading{
    font-size:12px ;
  }
  .StatsPara{
    font-size:8px ;
  }
 }
 