.webCamMain{
    width:min-content;
    height:min-content;
    padding: 0;
    margin: 0;
    outline: none;
    position: fixed;
    top:20vh;
    left:35vw;
}
.webCamTextMessage{
    color: white;
    text-align: center;
}

.webcam-btnMain{
    text-align: center;
}


.faceResults{
    position:fixed;
    display: flex;
    width: 500px;
    flex-direction: row;
    justify-content: space-evenly; 
    height: 96px;
    align-items: center !important;
    box-shadow: 0px -1px 0px rgba(85, 85, 85, 0.2);  
    align-items:flex-start;
    font-size: 24px;
    font-weight: 700;
    margin-top: -157px;
    background: linear-gradient(95.07deg, rgba(219, 219, 219, 0.7) -0.05%, rgba(217, 217, 217, 0) 116.69%);
    backdrop-filter: blur(7px);
    border-radius: 12px;
    z-index: 1000;
}